.content {
  max-width: 1280px;
  margin: 0px auto;
}


.menu {

   display: flex;
   justify-content: center;
}

.menu li {

   display:inline-flex;
   margin:  25px 0px 25px 72px;
    
}

.menu li a {

   font-weight: 700;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 2.7px;
   font-family: 'Montserrat', sans-serif;
   text-transform: uppercase;
   text-decoration: none;
   color: #FF0000;
    
}

.foto  {

   display: flex; 
   justify-content: center; 
 }
   
.foto img {

  width: 100%;
  height: 789px;
}

.text-1 {
   
   display: flex;
   justify-content: center;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: 3.3px;
   text-transform: uppercase;
   font-family: 'Montserrat';
   margin: 48px 0px 0px 0px;
   
   color: #373737; 
   
}

p {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center;
   text-align: center;
   letter-spacing: 2.4px;
   font-size: 16px;
   font-family: 'Montserrat';
   font-weight: 400;

   color: #373737;
}

.text-2 {

  margin: 38px 67.5px 0px 67.5px;
 }

.text-3 {

  margin: 28px 67.5px 0px 67.5px;
 }

.link {

  display: flex;
  justify-content: center;
  
}

.link-child {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Montserrat';
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 42.5px 17px 42.5px;
  margin: 66px 0 0 0;
  border-radius: 4px;
  background: #FF0000;
  color: #FFFFFF;

  
 }

.caption {

  display: flex;
  justify-content: right;

}

.caption-h2 {

  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
  line-height: 20px;
  font-family: 'Montserrat';
  margin: 82px 105px 29px 0px;

  color: #373737;
}